/* TODO Add site wide styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    margin: 0;
    height: 100%;

}

/* html {
    background-color:#015f41;
} */


@layer components{
    .link {
        @apply cursor-pointer hover:outline-double p-[1px];
    }
    .button {
        @apply cursor-pointer p-2 font-bold text-[11px] md:text-sm bg-gradient-to-b from-amber-300 to-amber-500 border-amber-400 rounded-sm  focus:outline-none focus:ring-2 focus:ring-amber-600 active:from-amber-600;
    }

    .button:disabled {
        @apply cursor-not-allowed pointer-events-none p-2 font-bold text-[11px] md:text-sm bg-gradient-to-b from-gray-300 to-gray-500 border-gray-400 rounded-sm  focus:outline-none focus:ring-2 focus:ring-gray-600 active:from-gray-600
    }

}
